<div class="terminal">
<pre>
<code>
   <span class="prompt">user&#64;angular-project</span><span class="symbol">:$</span> <span class="command">ng g c</span> <span class="string">component</span>

<span class="output">CREATE src/app/component/component.component.ts</span>
<span class="output">CREATE src/app/component/component.component.html</span>
<span class="output">CREATE src/app/component/component.component.css</span>
<span class="output">CREATE src/app/component/component.component.spec.ts</span>
</code>
</pre>
</div>
