<section class="section-projects">
    @for (project of projectsList; track $index) {
        <div 
        (click)="onScrollToTarget($event)"
        (click)="onProjectSelected(project)"
        #item
        class="item"
        [ngStyle]="{
            'border': isProjectFiltered(project) ? '1px solid ' + tecnologySelected().color : '1px solid white',
            'box-shadow': isProjectFiltered(project) ? '0px 0px 8px 1px ' + tecnologySelected().color : 'none'
        }"
        >
            <div class="container-img">
                <img src="{{ project.urlImg }}" alt="{{ project.title }}">
            </div>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <div 
            class="list-tecnologies"
            [ngStyle]="{
                'border-top': isProjectFiltered(project) ? '1px solid ' + tecnologySelected().color : '1px solid white',
                'box-shadow': isProjectFiltered(project) ? '0px 0px 2px 1px ' + tecnologySelected().color : 'none'
            }"
            >
                @for (tecnology of project.tecnologiesList; track $index) {
                    <div class="img-tecnology">
                        <img src="{{ tecnology.urlImg }}" alt="{{ project.title }}">
                    </div>
                }
            </div>
        </div>
    }
</section>