div {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 100%;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

div img {
    border-radius: 100%;
    width: 80%;
    height: auto;
    object-fit: cover;
}