<div class="terminal">
<pre>
<code>
 <span class="keyword">const</span> root <span class="symbol">=</span> ReactDOM<span class="symbol">.</span>createRoot<span class="symbol">(</span>
    document<span class="symbol">.</span>getElementById<span class="symbol">(</span><span class="string">'root'</span><span class="symbol">)</span>
 <span class="symbol">);</span>

 root<span class="symbol">.</span>render<span class="symbol">(</span>
    <span class="symbol">&lt;</span><span class="keyword">React.StrictMode</span><span class="symbol">&gt;</span>
        <span class="symbol">&lt;</span><span class="keyword">App</span> /<span class="symbol">&gt;</span>
    <span class="symbol">&lt;/</span><span class="keyword">React.StrictMode</span><span class="symbol">&gt;</span>
 <span class="symbol">);</span>
</code>
</pre>
</div>
