:host {
    display: contents;
}

.container-description {
    width: 50%;
    height: 100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 0 1.5rem;
}

.container-description h1 {
    font-family: var(--font-family-cleanow);
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2;
}

.container-description h3 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.container-description p {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    width: 80%;
    height: 6.5rem;
    line-height: 1.2;
}

.container-description .contaner-buttons {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.container-description .contaner-buttons button {
    outline: none;
    border: none;
    min-width: 8rem;
    width: 10rem;
    height: 3rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 2px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 0.8s ease-in-out;
    background: linear-gradient(to right, var(--color-social-primary) 0%, var(--color-social-primary) 0%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left;
}

.container-description .contaner-buttons button.activate,
.container-description .contaner-buttons button:hover {
    background-color: transparent;
    color: var(--secondary-color);
    background-size: 0% 100%;
}

.container-description .contaner-buttons a {
    outline: none;
    border: none;
    min-width: 8rem;
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-family: var(--font-family-caviar-dreams);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
    background: radial-gradient(circle, 
        var(--color-social-primary) 0%, 
        var(--color-social-primary) 100%);
    
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.container-description .contaner-buttons a.activate,
.container-description .contaner-buttons a:hover {
    color: var(--primary-color);
    background-size: 100% 100%;
}

.container-social {
    display: flex;
    gap: 1rem;
}

.container-social .container-img-social {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid var(--color-social-primary);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, var(--color-social-primary) 0%, var(--color-social-primary) 100%);
    background-size: 100% 0%;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size 0.5s ease-in-out;
}

.container-social .container-img-social:hover {
    background-size: 100% 100%;
}

.container-habilities {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1.5rem;
    background-color: transparent;
}

.container-habilities .container-tecnologies {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    gap: 1rem;
}

.container-habilities .container-pre {
    width: 100%;
    height: 13rem;
    overflow-x: auto;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-family: "Fira Code", "Courier New", monospace;
    overflow-x: auto;
    white-space: pre-wrap;
    overflow: hidden;
    position: relative;
}

.container-habilities .container-pre .container-circles {
    position: absolute;
    top: 2%;
    left: 3%;
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.container-habilities .container-pre .circle:nth-child(1) {
    color: #FF5F57;
}

.container-habilities .container-pre .circle:nth-child(2) {
    color: #FFBD2E;
}

.container-habilities .container-pre  .circle:nth-child(3) {
    color: #28C940;
}


@media screen and (width < 768px) {
    .container-description {
        width: 90%;
        height: calc(100vh - 5rem);
        gap: 2rem;
        justify-content: center;
    }

    .container-description p {
        width: 100%;
        height: 4rem;
    }

    .container-img {
        display: none;
    }
}
