<section class="container-description">
    <h1>Hola, Soy Juan Pablo Leon</h1>
    <h3> <strong class="strong-color">Desarrollador de software</strong></h3>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi cumque quae, numquam expedita distinctio nihil voluptate impedit soluta doloribus facilis a odio vero optio aliquid neque eveniet iure quasi quidem.
    </p>
    <div class="contaner-buttons">
        <button 
        [ngClass]="{activate: activateStylesButton}"
        type="button"
        (mouseenter)="onHover(true, 'button')" 
        (mouseleave)="onHover(false, 'button')"
        >Descargar CV</button>
        <a
        [ngClass]="{activate: activateStylesLink}"
        (mouseenter)="onHover(true, 'link')" 
        (mouseleave)="onHover(false, 'link')" 
        routerLink="/contact" 
        routerLinkActive="active" 
        rel="noopener noreferrer"
        >Contactame</a>
    </div>
    <div class="container-social">
        <div class="container-img-social">
            <app-linkedin-svg />
        </div>
        <div class="container-img-social">
            <app-github-svg />
        </div>
    </div>
</section>
<section class="container-habilities">
    <div class="container-tecnologies">
        @for (tecnology of listTecnologies; track $index) {
            <app-svg-tecnology [data]="tecnology" />  
        }
    </div>
    <div class="container-pre">
        <div class="container-circles">
            <span class="circle">●</span> <span class="circle">●</span> <span class="circle">●</span>
        </div>
        <app-code-python />
    </div>
</section>