<section class="container-description">
    <h1>Hola, Soy Juan Pablo Leon</h1>
    <h3> <strong class="strong-color">Desarrollador de software</strong></h3>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi cumque quae, numquam expedita distinctio nihil voluptate impedit soluta doloribus facilis a odio vero optio aliquid neque eveniet iure quasi quidem.
    </p>
    <div class="contaner-buttons">
        <button type="button">Descargar CV</button>
        <a routerLink="/contact" routerLinkActive="active" rel="noopener noreferrer">Contactame</a>
    </div>
    <div class="container-social">
        <div class="container-img-social">
            <img src="/images/linkedin.svg" alt="LinkedIn">
        </div>
        <div class="container-img-social">
            <img src="/images/github.svg" alt="GitHub">
        </div>
    </div>
</section>
<section class="container-img">
    <img src="/images/bg-img.jpg" alt="Hero Image">
</section>