:host {
    display: contents;
}

a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3rem;
}

a {
color: var(--color-social-primary);
}

a:hover {
color: var(--color-social-secondary);
}
  

svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: var(--color-social-primary);
    stroke: var(--color-social-primary);
    transition: all 0.5s ease-in;
}

svg:hover {
    fill: var(--color-social-secondary);
    stroke: var(--color-social-secondary);
}
