<div class="terminal">
<pre>
<code>
    <span class="prompt">postgres=#</span> <span class="command">\d person</span>
    +-------+-------------+------------------+----------------+
    | Column | Type       | Collation        | Nullable       |
    +-------+-------------+------------------+----------------+
    | id    | SERIAL     |                  | NOT NULL        |
    | name  | VARCHAR(50)|                  | NOT NULL        |
    | age   | INT        |                  |                 |
    +-------+-------------+------------------+----------------+
    Indexes:
        "person_pkey" PRIMARY KEY, btree (id)
</code>
</pre>
</div>
    