<div class="terminal">
<pre>
<code>

 <span class="keyword">const</span> hello <span class="symbol">=</span> <span class="symbol">(() => &#123;</span>
        <span class="keyword">return</span> <span class="string">'¡Hola! Soy un lenguaje'</span><span class="symbol">;</span>
    <span class="symbol">&#125;</span><span class="symbol">)()</span><span class="symbol">;</span>

 <span class="keyword">console</span><span class="symbol">.</span><span class="keyword">log</span><span class="symbol">(</span>hello<span class="symbol">)</span><span class="symbol">;</span>
</code>
</pre>
</div>