<section class="about">
    <div class="container-about-main">
        <div class="container-img-about">
            <img src="/images/img-perfil.jpg" alt="Foto de perfil">
        </div>
        <div class="contaner-title-about">
            <div class="container-title">
                <h2>Juan Pablo León Fonseca</h2>
                <p>
                    Desarrollador de <strong class="strong-color">sistemas web</strong>, utilizando diversas tecnologías de <strong class="strong-color">backend</strong> y <strong class="strong-color">frontend</strong> para crear soluciones robustas.
                </p>
            </div>
            <div class="container-buttons">
                <button 
                type="button"
                [ngClass]="{activate: activateStylesButton}"
                (mouseenter)="onHover(true, 'button')" 
                (mouseleave)="onHover(false, 'button')" 
                (click)="onScrollToTarget($event)"
                >
                    ¿Quién soy?
                </button>
                <a
                [ngClass]="{activate: activateStylesLink}"
                (mouseenter)="onHover(true, 'link')" 
                (mouseleave)="onHover(false, 'link')" 
                routerLink="/contact" 
                routerLinkActive="active" 
                rel="noopener noreferrer"
                >Contáctame</a>
            </div>
        </div>
    </div>
    <div id="container-about-information" class="container-about-information">
        <div class="container-information">
            <h2>Quién soy? . . .</h2>
                <div class="about-me">
                    <p>
                        Soy un desarrollador web con una profunda pasión por la creación de soluciones digitales innovadoras. Mi formación como <strong class="strong-color">Tecnólogo en Análisis y Desarrollo de Software</strong> en el <strong class="strong-color">SENA</strong> - <strong class="strong-color">Servicio nacional de aprendizaje</strong> me ha proporcionado una base sólida en el desarrollo de aplicaciones web tanto en el backend como en el frontend.
                    </p>

                    <p>
                        En el ámbito del backend, poseo conocimiento de <strong class="strong-color">Python</strong> y sus frameworks <strong class="strong-color">Flask</strong> y <strong class="strong-color">FastAPI</strong>, lo que me permite construir APIs REST robustas y eficientes, utilizando <strong class="strong-color">JWT</strong> para la autenticación y autorización. Mi experiencia se extiende a la gestión de bases de datos relacionales como <strong class="strong-color">PostgreSQL</strong> y <strong class="strong-color">MySQL</strong>, así como bases de datos NoSQL como <strong class="strong-color">MongoDB</strong>. Además, estoy familiarizado con los principios de programación asíncrona, lo que me permite optimizar el rendimiento de las aplicaciones.
                    </p>

                    <p>
                        En el frontend, tengo experiencia en el desarrollo de interfaces de usuario atractivas y funcionales utilizando <strong class="strong-color">React</strong>, <strong class="strong-color">Angular</strong>, <strong class="strong-color">HTML</strong>, <strong class="strong-color">CSS</strong>, <strong class="strong-color">JavaScript</strong> y <strong class="strong-color">TypeScript</strong>. Mi flujo de trabajo se complementa con el uso de herramientas de control de versiones como <strong class="strong-color">Git</strong> y <strong class="strong-color">GitHub</strong>, y la implementación de contenedores con <strong class="strong-color">Docker</strong> para facilitar el despliegue de proyectos. Además, tengo conocimientos en la <strong class="strong-color">arquitectura hexagonal</strong>, que me permite escribir código limpio y mantenible.
                    </p>

                    <p>
                        Mi objetivo es continuar creciendo como desarrollador y contribuir a proyectos que tengan un impacto positivo. Estoy siempre dispuesto a aprender nuevas tecnologías y enfrentar desafíos que me permitan expandir mis habilidades.
                    </p>
</div>
            <a
            routerLink="/projects" 
            routerLinkActive="active" 
            rel="noopener noreferrer"
            >Proyectos</a>
        </div>
        <div class="container-img-information">
            <div>
                <img src="/images/bg-hero.webp" alt="Foto de perfil">
            </div>
            <div>
                <img src="/images/bg-hero2.webp" alt="Foto de perfil">
            </div>
            <div>
                <img src="/images/bg-hero3.webp" alt="Foto de perfil">
            </div>
            <div>
                <img src="/images/img-perfil.jpg" alt="Foto de perfil">
            </div>
        </div>
    </div>
</section>