main {
    width: 100%;
    height: calc(100% - var(--header-height));
    background-color: yellow;
}

@keyframes openDoorTop {
    0% {
        clip-path: polygon(100% 0, 0 0, 0 100%);
    }
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 0);
    }
    
}

@keyframes openDoorBottom {
    0% {
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 100%, 0 100%, 0 100%);
    }
}

.estructure-1 {
    background-color: var(--secondary-color);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    animation: openDoorTop 1s ease forwards;
}

.estructure-2 {
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    bottom: 0;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    animation: openDoorBottom 1s ease forwards;
}
