<div class="terminal">
<pre>
<code>
    <span class="prompt">mysql&gt;</span> <span class="command">DESCRIBE person;</span>
    +-------+-------------+------+-----+---------+----------------+
    | Field | Type        | Null | Key | Default | Extra          |
    +-------+-------------+------+-----+---------+----------------+
    | id    | INT         | NO   | PRI | NULL    | AUTO_INCREMENT |
    | name  | VARCHAR(50) | NO   |     | NULL    |                |
    | age   | INT         | YES  |     | NULL    |                |
    +-------+-------------+------+-----+---------+----------------+
</code>
</pre>
</div>