<div class="terminal">
<pre>
<code>
 <span class="prompt">user&#64;my-computer</span><span class="symbol">:$</span> <span class="command">git init</span>
 <span class="prompt">user&#64;my-computer</span><span class="symbol">:$</span> <span class="command">git branch -M main</span>
 <span class="prompt">user&#64;my-computer</span><span class="symbol">:$</span> <span class="command">git remote add origin https://github.com/...</span>
 <span class="prompt">user&#64;my-computer</span><span class="symbol">:$</span> <span class="command">git add .</span>
 <span class="prompt">user&#64;my-computer</span><span class="symbol">:$</span> <span class="command">git commit -m</span> <span class="string">"Initial commit"</span>
 <span class="prompt">user&#64;my-computer</span><span class="symbol">:$</span> <span class="command">git push -u origin main</span>
</code>
</pre>
</div>
    