:host {
    display: contents;
}

.terminal {
    background-color: rgb(12, 12, 12);
    font-family: "Courier New", monospace;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 183, 255, 0.3);
    max-width: 600px;
    margin: 15px auto;
    font-size: 0.75rem;
}

code {
    color: rgb(255, 255, 255);
    font-weight: 500;
    display: block;
    white-space: pre-wrap;
}

.symbol {
    color: rgb(94, 255, 207);
}

.keyword, .command {
    color: rgb(255, 94, 94);
    font-weight: bold;
}