<div class="terminal">
<pre>
<code>
 <span class="keyword">interface</span> <span class="symbol">Person</span> <span class="symbol">&#123;</span>
    <span class="symbol">name:</span> <span class="string">string</span><span class="symbol">;</span>
    <span class="symbol">email:</span> <span class="string">string</span><span class="symbol">;</span>
    <span class="symbol">address:</span> <span class="symbol">&#123;</span>
        <span class="symbol">street:</span> <span class="string">string</span><span class="symbol">;</span>
        <span class="symbol">city:</span> <span class="string">string</span><span class="symbol">;</span>
        <span class="symbol">zipCode:</span> <span class="string">number</span><span class="symbol">;</span>
    <span class="symbol">&#125;</span><span class="symbol">;</span>
 <span class="symbol">&#125;</span>
</code>
</pre>
</div>