:host {
    display: contents;
}

.container-projects {
    margin-top: 1rem;
    background-color: var(--alpha-color);
    backdrop-filter: var(--blur-bg);
    width: 90%;   
    height: auto;
    display: grid;
    grid-template-rows: 40% fit-content;
    gap: 1rem;
    padding: 1rem;
    position: relative;
}

.container-projects canvas {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}