<div class="terminal">
<pre>
<code>
 <span class="keyword">body</span> <span class="symbol">&#123;</span>
    <span class="keyword">background-color</span><span class="symbol">:</span> <span class="string">red</span><span class="symbol">;</span>
    <span class="keyword">color</span><span class="symbol">:</span> <span class="string">white</span><span class="symbol">;</span>
    <span class="keyword">font-family</span><span class="symbol">:</span> <span class="string">Arial, sans-serif</span><span class="symbol">;</span>
    <span class="keyword">margin</span><span class="symbol">:</span> <span class="string">0</span><span class="symbol">;</span>
    <span class="keyword">padding</span><span class="symbol">:</span> <span class="string">20px</span><span class="symbol">;</span>
 <span class="symbol">&#125;</span>
</code>
</pre>  
</div> 