<div class="terminal">
<pre>
<code>
  <span class="prompt">user&#64;git-project</span><span class="symbol">:$</span> <span class="command">git commit -m <span class="string">"Initial commit"</span></span>

<span class="output">[<span class="branch">main</span> <span class="commit-hash">a1b2c3d</span>] Initial commit</span>
<span class="output"> 2 files changed, 120 insertions(+)</span>
<span class="output"> create mode 100644 <span class="file">index.html</span></span>
<span class="output"> create mode 100644 <span class="file">style.css</span></span>
</code>
</pre>
</div>    