<div class="terminal">
<pre>
<code>
 <span class="symbol"><</span><span class="keyword">div</span><span class="symbol">></span>
    <span class="symbol"><</span><span class="keyword">p</span><span class="symbol">></span>
        Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
        Ut aliquam.
    <span class="symbol"><</span><span class="symbol">/</span><span class="keyword">p</span><span class="symbol">></span>
 <span class="symbol"><</span><span class="symbol">/</span><span class="keyword">div</span><span class="symbol">></span>
</code>
</pre>  
</div>